<% provide(:title, "MyPage") %>
<h1>マイページ</h1>

<div class="row">
  <%= @customer_user.name %><br>
  <%= @customer_user.phone %><br>
  <%= link_to "プロフィール変更", edit_customer_user_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "退会", customer_user_path, method: :delete,
              data: { confirm: "退会しますか？" }, class: "btn btn-lg btn-primary" %>
  <%= link_to "お店一覧", store_users_path, class: "btn btn-lg btn-primary" %>
</div>