<% provide(:title, 'All stores') %>
<h1>お店の一覧表</h1>

<% from = time_from_ago %>
<% now = time_now %>
<% appointments = get_appointments(current_user, from, now) %>

<% appointment_id_array = appointments.map {|appointment| appointment[:product_id] } %>
<% appointment_name_array = appointments.map {|appointment| appointment[:product_name] } %>
<% unless include_all?(appointment_name_array, ['マスク', 'ハンドソープ', '殺菌グッズ']) %>
<%= will_paginate %>
<ol class="stores">
    <% @store_users.each do |store_user| %>
      <li class="store_info">
        <ul class="content">
        <li>
          店名：　<%= store_user.name %><br>
          連絡電話：　<%= store_user.phone %><br>
          住所：　<%= store_user.address %><br>
        </li>
        <li>
          <table  border="1">
            <tr>
              <th>品名</th><th>値段(円)</th><th>総数量</th><th>予約された数量</th><th>残り数量</th><th> </th>
            </tr>
            <% store_user.products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= product.total_num %></td>
              <td><%= product.order_num %></td>
              <td><%= (product.total_num - product.order_num) %></td>
              <% unless appointment_id_array.include?(product.id) || appointment_name_array.include?(product.name) %>
                <td><%= link_to "予約", create_appointment_path(store_user_id: store_user.id,
                                                          product_id: product.id,
                                                          product_name: product.name),
                                                          method: :post %>
                </td >
              <% else %>
                <td>  </td>
              <% end %>
            </tr>
            <% end %>
          </table>
        </li>
        </ul>
      </li>
    <% end %>
</ol>
<%= will_paginate %>
<% else %>
  <h3>Finish!</h3>
<% end %>